* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

section {
    display: block;
}

main {
    margin-top: 70px;
}

div {
    display: block;
}

div:end {
    content: "";
    display: table;
    clear: both;
}

body {
    min-width: 320px;
    height: 100%;
    font-family: 'Roboto slab', sans-serif;
    color: #888888;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
#nav_bar{
    background: #cea172;
    font-family: B52;
    color: black;
    border-color: peru;
}

.w_pic{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.65;
}

#top{
    margin-top: -22px;
    min-height: 933px;
    background-image: url("../img/header.jpg");
    background-size: 100%
}

#desc{
    position: relative;
    background: lightslategrey;
    height: 300px;
}

#styles{
    position: relative;
    min-height: 578px;
    background-image:url("../img/moodboard.jpg") ;
}


.title {
    top: 40%;
    left:0;
    text-align: center;
    position: absolute;
    word-wrap: normal;
    width: 100%;
    font-family: Abduction;
    color: black ;
    background: rgba(255,255,255,0.5) ;
    font-size: 50px;
}

.description {
    overflow: auto;
    position: relative;
    word-wrap: normal;
    font-size: 12px;
    width: auto;
    height: 60px;
    padding-left: 10px;
}

.main_event{
    position: relative;
    display: inline-block;
    width: 30%;
    cursor: pointer;
}

.zoomer {
    background: rgba(0, 0, 0, 0.5);
    background-size: auto;
    position: absolute;
    width: 100%;
    height: auto;

    left: 0;
    display: none;
    text-align: center;
}

.zoomed_img {
    position: relative;
    z-index: 4;
    max-height: 80%;
    max-width: 80%;
}

.zoomed_title {
    z-index: 4;
    text-align: center;
    position: relative;
    margin-top: 170px;
    margin-bottom: 0px;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.zoomed_description {
    overflow: auto;
    position: relative;
    word-wrap: normal;
    font-size: 30px;
    margin-top: 10px;
    height: 150px;
    background: rgba(255, 255, 255, 0.5);
}


